@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
    Paleta de cores
    cor1: #7B81A6;
    cor2: #F2C49B;
    cor3: #F26D3D;
    cor4: #D9857E;
    cor5: #261917;
*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body, html{
    background-color: #7B81A6;
    height: 100vh;
    width: 100vw;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

section,#imagem{
    border-radius: 10px;
    display: block;
}

div#formulario{
    display: block;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    flex-direction: column;
    height: auto;
    width: 400px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.450);

    transition: width .5s, height .5s;
    transition-timing-function: ease;
}

#imagem{
    width: auto;
    background-color: #7B81A6;
    background: url(../imagens/32858.jpg);
    background-position: center center;
    background-size: cover;
    height: 250px;
}

h1,p{
    text-align: center;
}
h1{
    font-size: 2rem;
}

form{
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.input-box{
    display: flex;
    width: 100%;
    height: 40px;
    margin: 30px 0;
}

.input-box#pass{
    margin-bottom: 8px;
}

.input-box input{
    width: 100%;
    height: 100%;
    padding: 10px 5px;
    outline: none;
    border: none;
    border-bottom: 2px solid;
    background: transparent;
}

.input-box i{
    display: flex;
    width: 50px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

#bte{
    height: 35px;
    font-size: 1.5rem;
    background-color: transparent;
    outline: none;
    border: none;
    border: 1px solid 
    inset black;
    cursor: pointer;
    margin: 30px 0 15px 0;
}

a{
    text-decoration: none;
    font-size: 15px;
}